.menu-container{
    position:absolute;
    display: fluid;
    left: 17vh;
    transform: skew(25deg);
    -o-transform: skew(25deg);
    -moz-transform: skew(25deg);
    -webkit-transform: skew(25deg);
    border: 5px solid #B9E3F3;
}
.menu-item-container{
    border: 5px solid yellow ;
    background-color: red;
}

.menu-item{
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    transform: skew(-25deg);
    -o-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -webkit-transform: skew(-25deg);

}